titulo.esime{
    font-size: 72px;
    background: -webkit-linear-gradient(#48dca7, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .font{
    font-family: 'Montserrat', sans-serif;
}