<section class=" bg-gray-900 text-white grid-cols-5 text-center p-8 h-full">
  <!-- <article></article>
  <article class="col-span-3">
    <p class="titulo-esime">
      Tus Autos
    </p>
  </article> -->
  <ion-item>
    <button [routerLink]="['/feed']" class= "bg-gray-800 rounded-2xl w-full py-2 px-3 text-white p-8 h-full" >
      <ion-icon slot="start" name="car-sport-outline"></ion-icon>
      Volver</button>
  </ion-item>
<!-- 
    <article class="col-span-3 bg-gray-900">
        <button [routerLink]="['/feed']" class="bg-elementos rounded-2xl w-full py-3 px-4 text-white"></button>
        <ion-icon slot="start" name="chevron-back-circle-outline"></ion-icon>
        <ion-label> Volver </ion-label>
    </article> -->
    <!-- <ion-item *ngFor="let  of list; trackBy:.id">
      <ion-label>
        
      </ion-label>
    </ion-item> -->

    <h1 class="container bg-gray-900 text-white text-center my-4 py-4">[Tus autos]</h1>

    <div>
        <section class="grid grid-cols-5" *ngFor="let Carro of Carros">
              <article >
                <p class="uppercase">
                  placa
                </p>
                {{ Carro.placa }}
              </article>
              <article >
                <p class="uppercase">
                  color
                </p>
                {{ Carro.color }}
              </article>
              <article >
                <p class="uppercase">
                  tipo
                </p>
                {{ Carro.tipo }}
              </article>
              <article >
                <p class="uppercase">
                  marca
                </p>
                {{ Carro.marca }}
              </article>

              <article>
                <span (click)="editar(Carro.id)">
                  editar
                </span>
                <!-- <span [routerLink]="`['/edit-auto/${Carro.id}']`">
                  editar
                </span>
                <span (click)="eliminar(Carro.id)">
                  eliminar
                </span> -->

              </article>
        </section>
        
    </div>

  <p class="col-span-3">
   
  </p>
  
</section>


  <ion-item>
    <button [routerLink]="['/auto']" class= "bg-black rounded-2xl w-full py-3 px-4 text-white" >
    <ion-icon slot="start" name="car-sport-outline"></ion-icon>
    Registrar Auto</button>
</ion-item>

