
<section class=" bg-gray-900 text-white  grid-cols-5 text-center p-8 h-full">
  <!-- <article></article>
  <article class="col-span-3">
    <p class="titulo-esime">
      Tus Autos
    </p>
  </article> -->
  <ion-item>
    <button [routerLink]="['/feed']" class= "bg-gray-800 rounded-2xl w-full py-2 px-3 text-white p-8 h-full" >
      <ion-icon slot="start" name="car-sport-outline"></ion-icon>
      Volver</button>
  </ion-item>
<!-- 
    <article class="col-span-3 bg-gray-900">
        <button [routerLink]="['/feed']" class="bg-elementos rounded-2xl w-full py-3 px-4 text-white"></button>
        <ion-icon slot="start" name="chevron-back-circle-outline"></ion-icon>
        <ion-label> Volver </ion-label>
    </article> -->
    <!-- <ion-item *ngFor="let  of list; trackBy:.id">
      <ion-label>
        
      </ion-label>
    </ion-item> -->

    <h1 class="container bg-gray-900 text-white text-center my-4 py-4">Tus autos</h1>

    <!-- <ion-list class="grid bg-slate-900 my-4 py-4 text-white text-justify text-xs" *ngFor="let Carro of Carros">

      <ion-item>
        <ion-label class="text- bg-gray-600 rounded-2xl w-full py-3 px-4 text-fondo">
          <p class="uppercase text-center">
            <ion-icon name="barcode-outline"></ion-icon>
            Placa
          </p>
          {{ Carro.placa }}
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label class="text-gray-100 bg-gray-600 rounded-2xl w-full py-3 px-4 text-fondo">
          <p class="uppercase text-center">
            <ion-icon name="color-filter-outline"></ion-icon>
            Color
          </p>
          {{ Carro.color }}
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label class="text-gray-100 bg-gray-600 rounded-2xl w-full py-3 px-4 text-fondo">
          <p class="uppercase text-center">
            <ion-icon name="color-filter-outline"></ion-icon>
            Tipo
          </p>
          {{ Carro.tipo }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="text-gray-100 bg-gray-600 rounded-2xl w-full py-3 px-4 text-fondo">
          <p class="uppercase text-center">
            <ion-icon name="car-outline"></ion-icon>

            Marca
          </p>
          {{ Carro.marca }}
        </ion-label>
      </ion-item>

      <article class="text-right">
        <span (click)="editar(Carro.id)">
          <ion-icon name="trash-outline"></ion-icon>
          editar
        </span>
        <p>
        </p>
        <span (click)="eliminar(Carro.id)">
          <ion-icon name="pencil-outline"></ion-icon>
          eliminar
        </span>
      </article>

  </ion-list> -->

    <div>
        <section class="grid grid-cols-5 bg-slate-900 my-4 py-4 h-full text-justify" *ngFor="let Carro of Carros">
          <article class="text-center">
              <ion-label >
                <p class="uppercase">
                  <ion-icon name="barcode-outline"></ion-icon>
                </p>
                {{ Carro.placa }}
              </ion-label>
            </article>
            <article class="text-center" >
                <p class="uppercase">
                  <ion-icon name="color-filter-outline"></ion-icon>
                </p>
                {{ Carro.color }}
              </article>
              <article >
                <p class="uppercase">
                  <ion-icon name="bicycle-outline"></ion-icon>
                </p>
                {{ Carro.tipo }}
              </article>
              <article >
                <p class="uppercase">
                  <ion-icon name="car-sport-outline"></ion-icon>
                </p>
                {{ Carro.marca }}
              </article>

              <article>
                <span (click)="editar(Carro.id)">
                  <ion-icon name="trash-outline"></ion-icon>
                  editar
                </span>
                <p>
                </p>
                <span (click)="eliminar(Carro.id)">
                  <ion-icon name="pencil-outline"></ion-icon>
                  eliminar
                </span>

              </article>
        </section>
        
    </div>

  <p class="col-span-3">
   
  </p>
  
</section>


  <ion-item>
    <button [routerLink]="['/auto']" class= "bg-black rounded-2xl w-full py-3 px-4 text-white" >
    <ion-icon slot="start" name="car-sport-outline"></ion-icon>
    Registrar Auto</button>
</ion-item>

