<ion-toolbar>
  <ion-button [routerLink]="['/feed']" slot="start" color="dark" fill="outline" class="px-2">
    <ion-icon
      slot="start" name="arrow-back-circle-sharp" size="large">
    </ion-icon>
  </ion-button>
  <ion-button [routerLink]="['/auto']" slot="end" color="dark" fill="outline" class="px-2 font">
    <ion-icon name="add-outline"></ion-icon>
    Nuevo
  </ion-button>
</ion-toolbar>  


<section class="font body bg-slate-900 text-white  grid-cols-5 text-center p-8 h-full">

  <h1 class=" text-center py-2">TUS AUTOS</h1>
 
    <div>
        <section 
          class=" bg-gray-200 hover:bg-black my-4 py-4 h-full text-justify p-4 rounded-md" 
          *ngFor="let Carro of Carros">
            <article>
                <span class="uppercase text-black">
                  {{ Carro.tipo }}
                </span>
                <hr class="my-2 bg-black">
                <ion-icon name="car-sport-outline" color="dark"></ion-icon>
                <span class="uppercase text-black">
                  {{ Carro.marca }} {{ Carro.color }}
                </span>
                <br>
                <ion-icon name="barcode-outline" color="dark"></ion-icon>
                <span class="uppercase text-black">
                  {{ Carro.placa }}
                </span>
                <br>
                <p class="text-right">
                  <span (click)="editar(Carro.id)">
                    <ion-icon name="pencil-outline" color="dark" size="large"></ion-icon>
                  </span>
                  &nbsp;
                  <span (click)="eliminar(Carro.id)">
                    <ion-icon name="trash-outline" color="dark" size="large"></ion-icon>
                  </span>
                </p>
            </article>
            <article>
            </article>
        </section>
        
    </div>
  
</section>
