<ion-toolbar class="bg-transparent">
  <ion-button [routerLink]="['/destinos']" slot="start" color="dark" fill="outline" class="px-2">
    <ion-icon
      slot="start" name="arrow-back-circle-sharp" size="large">
    </ion-icon>
  </ion-button>
</ion-toolbar> 

<capacitor-google-map id="map" ></capacitor-google-map>



<ion-chip class="miubicacion h-9 p-4">
      <div class="w-full">
        <input 
          [(ngModel)]="destino.nombre"
          [ngModelOptions]=" {standalone: true}" 
          class="bg-elementos rounded-2xl w-full py-3 px-4 bg-gray-700 text-white" 
          placeholder="Introduce el nombre"
        >
      </div>
</ion-chip>

<ion-chip class="aceptar text-center" (click)="postDestino()">
  <ion-label class="normal">
    Guardar Destino
  </ion-label>
  <ion-icon name="checkmark" ></ion-icon>
</ion-chip>
