<section class=" bg-gray-900 text-white grid grid-cols-5 gap-2 text-center p-8 h-full">
  <article></article>
    <article class="col-span-3">
    <img src="assets\img\I - Logo definitivo.png" class="w-6/12 mx-auto">
    </article>
  <article></article>

  <article></article>
  <article class="col-span-3 bg-gray-900">
    Bienvenido
  </article>
  <article></article>

  <p class="col-span-5 text-left m-4" >Paso 1: Ingresa tus datos</p>

  <form class="col-span-5  bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-sm font-bold mb-2">
        Correo electrónico
      </label>
      <div class="md:w-2/3">
        <input 
          [(ngModel)]="iniciosesion.email" 
          [ngModelOptions]=" {standalone: true}" 
          class=" rounded-2xl w-full py-3 px-4 text-black" 
          placeholder="|" >
      </div>
    </div> 
    </form>

  <p class="col-span-5 text-left m-4" >Paso 2: Toca el ícono para escanear el codigo QR al reverso de tu credencial IPN</p>
  <br>

  <article class="col-span-5">
    <img src="assets\img\qr.png" class="w-3/12 mx-auto" (click)="startScan()" >
  </article>

  <article></article>
  <article
    class="col-span-3"
  >
    <p>{{ errores.email }}</p>
   
    <br>

    <ion-button (click) = "inicioSesionUsuario()" fill="outline" color="dark">
      Iniciar sesión
    </ion-button>
    <br>
    <br>
    <p>
      Si no estas registrado entonces
      <span
        class = " text-dark font-extrabold"
        (click) = "registro()"
      >
        Registrate
      </span>
    </p>
    <br>
    <br>
    <i
      *ngIf="cargando"
      class="fa-2x fa-solid fa-frog fa-bounce text-green-600"
      style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; "
    ></i>
  </article>
  <article></article>

</section>
