// .fondo-ipn{
//     background-size: cover;
//     background-image: url("assets\img\I -Fondob");
// }

.body{
    background-image: url('/assets/img/Fondob.png');
    color: #FFFF
}



.font{
    font-family: 'Montserrat', sans-serif;
}