  <ion-split-pane when="sm" content-id="main-content" class="font">
    <ion-menu content-id="main-content">
      <ion-header>
        <ion-toolbar color="dark" class="font">
          <ion-title>Menu</ion-title>          
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            
            <ion-item>
              <button [routerLink]="['/ver-auto']" class="AutoStyle font">Tus autos</button>
              <ion-icon slot="start" name="car-sport-outline"></ion-icon>
            </ion-item>
          
          <ion-item>
            <button [routerLink]="['/destinos']" class="AutoStyle font">Destinos</button>
          <ion-icon slot="start" name="map-outline"></ion-icon>
        </ion-item>


            <ion-item button (click) = 'cerrarSesion()'>
              <ion-icon slot="start" name="key-outline"></ion-icon>
              <ion-label class="font"> Cerrar sesión </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page font" id="main-content">  
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu" color="dark"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-button id="click-trigger" slot="end" color="dark" fill="outline" class="px-2 font">
          <ion-icon name="add-outline"></ion-icon>
          Crear
        </ion-button>
        <ion-popover side="left" alignment="start" trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-button [routerLink]="['/modalidad-pie']" color="dark" size="large" class="font">
              <ion-icon name="footsteps-outline"></ion-icon>
              &nbsp;&nbsp;Viaje a pie
            </ion-button>
            <ion-button [routerLink]="['/modalidad-aventon']" color="dark" size="large" class="font">
              <ion-icon name="car-outline"></ion-icon>
              &nbsp;&nbsp;Dar aventón
            </ion-button>
          </ng-template>
        </ion-popover>
      </ion-toolbar>
      </div>
    </ion-split-pane>
    
    <section class= "font pt-10 bg-slate-900 text-white gir gir-cols-5 gap-2 text-center my-4 py-1 p-8 h-full w-full">
      
      <p
        class="m-4 text-lg"
      >
        Bienvenido 
        <br>
        {{ user_name }}
      </p>

      <p>
        <ion-button
          color="danger"
          size="small"
          (click)="botonPanico()"
        >
          Botón de pánico
        </ion-button>
      </p>
      <div
      *ngIf="mis_panicos.length > 0"
      >
        <hr class="m-2">
        <ion-button
          color="success"
          size="small"
          (click)="quitarPanicos()"
        >
          Desactivar mis colicos
        </ion-button>
      </div>

      <hr class="m-2">
      
      <div
        *ngIf="panicos > 0"
      >
        Existen alertas de "botón de pánico"
        <br>
        <i
          (click)="verPanicos()"
          class="fa-solid fa-triangle-exclamation text-red-500 fa-beat fa-2x"
        ></i>
        <!-- <ion-button
          color="tertiary"
          (click)="verPanicos()"
        >
        </ion-button> -->
      </div>
      
      <hr class="m-2">
      <div
        class=" overflow-auto"
        style="height: 650px;"
      >
        <section 
          class=" bg-gray-200 text-black font my-4 py-4 p-4 rounded-md" 
          *ngFor="let aventon of aventones">
            <article>
                <span class="uppercase">
                  Aventón
                  {{ aventon.modalidad.nombre }}
                  <ion-icon name="people-circle-outline"></ion-icon>
                  {{ aventon.asientos }}
                </span>
                <hr class="my-2 bg-black">
                {{ aventon.user.name }}
                <!-- <br> -->
                <img src="{{ aventon.user.foto }}" alt="foto" class="w-10 mx-auto">
                <hr class="my-2 bg-black">
                <ion-icon name="car-sport-outline"></ion-icon>
                  {{ aventon.auto.marca }} {{ aventon.auto.color }}
                <br>
                <ion-icon name="barcode-outline"></ion-icon>
                  {{ aventon.auto.placa }}
                <br>
                
                <!-- *ngIf="aventon.baja == 0" -->
                <ion-button
                    *ngIf="user_id == aventon.user_id"
                    (click) = "terminarViamje(aventon.id)"
                    class="my-2"
                    size="small" 
                    color="danger"
                >
                  Terminar viaje
                </ion-button> 

                <hr class="my-2 bg-black">
                {{ aventon.encuentro.descripcion }}&nbsp;
                <a 
                    target="_blank" 
                    href='{{ "https://www.google.com/maps/place/"+aventon.encuentro.latitud+","+aventon.encuentro.longitud+"" }}'
                    class="rounded-md border-black border-2 px-2 cursor-pointer inline-block"
                  >
                    <ion-icon name="location-sharp"></ion-icon>
                  </a>
                <hr class="my-2 bg-black">
                
                <section>
                  Ver destino&nbsp;
                  <a 
                    target="_blank" 
                    href='{{ "https://www.google.com/maps/place/"+aventon.destino.latitud+","+aventon.destino.longitud+"" }}'
                    class="rounded-md border-black border-2 px-3 cursor-pointer inline-block"
                  >
                    <ion-icon name="location-sharp"></ion-icon>
                  </a>
                </section>
                <section
                  class="my-2"
                  *ngIf="aventon.user_id == user_id"
                >
                  <section
                    *ngFor="let solicita of aventon.solicitando"
                  >
                    <article
                      *ngIf="solicita.confirma != 2"
                    >
                      <ion-button
                        *ngIf="solicita.confirma == 0"
                        class="my-2"
                        (click)="confirmaSolicitud(solicita.user.id, 1, aventon.id)" 
                        size="small" 
                        color="success"
                      >
                        <i class="fa-solid fa-check"></i>
                      </ion-button>
                      <ion-button
                      *ngIf="solicita.confirma == 0"
                        class="my-2"
                        (click)="confirmaSolicitud(solicita.user.id, 2, aventon.id)"
                         size="small" 
                         color="danger"
                        >
                        <i class="fa-solid fa-xmark"></i>
                      </ion-button>
                      &nbsp;
                      {{ solicita.user.name.substr(0, 15) }}...
                      &nbsp;
                      <br>
                      Destino: {{ solicita.destino_emergente.destino.nombre }}
                      <a
                        target="_blank" 
                        href='{{ "https://www.google.com/maps/place/"+solicita.destino_emergente.destino.latitud+","+solicita.destino_emergente.destino.longitud+"" }}'
                      >
                        <!-- class="rounded-md border-2 px-4 py-2 cursor-pointer inline-block" -->
                        <ion-icon name="location-sharp"></ion-icon>
                      </a>
                    </article>
                  </section>
                </section>
                <section
                  *ngIf="aventon.user_id != user_id"
                >
                Selecciona un destino 
                <br>
                <ion-select 
                  [(ngModel)] = "destino_id"
                  class="w-full bg-gray-300 rounded-md"
                >
                  <ion-select-option  *ngFor="let destino of destinos" value="{{ destino.id }}">
                    {{ destino.nombre }}
                  </ion-select-option>
                </ion-select>
                <br>

                <!-- class="z-10 rounded-md border-2 px-4 py-2 cursor-pointer inline-block" -->
                  <ion-button
                    (click)="solicitarAventon(aventon.id)"
                    *ngIf="aventon.muestra_solicitud"
                  >
                    Solicitar
                  </ion-button>
                  
                  
                  <p
                    *ngFor="let solicitado of aventon.solicitando"
                  >
                    <span
                      *ngIf="solicitado.user_id == user_id"
                    >
                      <p
                        *ngIf="solicitado.confirma == 0"
                      >
                        Esperando respuesta
                      </p>
                      <p
                        *ngIf="solicitado.confirma == 1"
                      >
                        Encuentrate con el conductor
                      </p>
                      <p
                        *ngIf="solicitado.confirma == 2"
                      >
                        Lo sentimos, el conductor no puede cumplir tu solicitud
                      </p>
                    </span>
                  </p>
                </section>
              </article>
            <article>
            </article>

            
          </section>

          <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ SECCIÓN DE PIE++++++++++++++++++++++++++++++++++++++++++++ -->
          
          
          
       
          <section 
            class=" bg-gray-200 text-black font my-4 py-4 p-4 rounded-md" 
            *ngFor="let aventon of aventones">
              <article>
                  <span class="uppercase">
                    Aventón
                    {{ aventon.modalidad.nombre }}
                    <ion-icon name="people-circle-outline"></ion-icon>
                    {{ aventon.asientos }}
                  </span>
                  <hr class="my-2 bg-black">
                  {{ aventon.user.name }}
                  <!-- <br> -->
                  <img src="{{ aventon.user.foto }}" alt="foto" class="w-10 mx-auto">
                  <hr class="my-2 bg-black">
                  <ion-icon name="car-sport-outline"></ion-icon>
                    {{ aventon.auto.marca }} {{ aventon.auto.color }}
                  <br>
                  <ion-icon name="barcode-outline"></ion-icon>
                    {{ aventon.auto.placa }}
                  <br>
                  
                  <!-- *ngIf="aventon.baja == 0" -->
                  <ion-button
                      *ngIf="user_id == aventon.user_id"
                      (click) = "terminarViamje(aventon.id)"
                      class="my-2"
                      size="small" 
                      color="danger"
                  >
                    Terminar viaje
                  </ion-button> 
  
                  <hr class="my-2 bg-black">
                  {{ aventon.encuentro.descripcion }}&nbsp;
                  <a 
                      target="_blank" 
                      href='{{ "https://www.google.com/maps/place/"+aventon.encuentro.latitud+","+aventon.encuentro.longitud+"" }}'
                      class="rounded-md border-black border-2 px-2 cursor-pointer inline-block"
                    >
                      <ion-icon name="location-sharp"></ion-icon>
                    </a>
                  <hr class="my-2 bg-black">
                  
                  <section>
                    Ver destino&nbsp;
                    <a 
                      target="_blank" 
                      href='{{ "https://www.google.com/maps/place/"+aventon.destino.latitud+","+aventon.destino.longitud+"" }}'
                      class="rounded-md border-black border-2 px-3 cursor-pointer inline-block"
                    >
                      <ion-icon name="location-sharp"></ion-icon>
                    </a>
                  </section>
                  <section
                    class="my-2"
                    *ngIf="aventon.user_id == user_id"
                  >
                    <section
                      *ngFor="let solicita of aventon.solicitando"
                    >
                      <article
                        *ngIf="solicita.confirma != 2"
                      >
                        <ion-button
                          *ngIf="solicita.confirma == 0"
                          class="my-2"
                          (click)="confirmaSolicitud(solicita.user.id, 1, aventon.id)" 
                          size="small" 
                          color="success"
                        >
                          <i class="fa-solid fa-check"></i>
                        </ion-button>
                        <ion-button
                        *ngIf="solicita.confirma == 0"
                          class="my-2"
                          (click)="confirmaSolicitud(solicita.user.id, 2, aventon.id)"
                           size="small" 
                           color="danger"
                          >
                          <i class="fa-solid fa-xmark"></i>
                        </ion-button>
                        &nbsp;
                        {{ solicita.user.name.substr(0, 15) }}...
                        &nbsp;
                        <br>
                        Destino: {{ solicita.destino_emergente.destino.nombre }}
                        <a
                          target="_blank" 
                          href='{{ "https://www.google.com/maps/place/"+solicita.destino_emergente.destino.latitud+","+solicita.destino_emergente.destino.longitud+"" }}'
                        >
                          <!-- class="rounded-md border-2 px-4 py-2 cursor-pointer inline-block" -->
                          <ion-icon name="location-sharp"></ion-icon>
                        </a>
                      </article>
                    </section>
                  </section>
                  <section
                    *ngIf="aventon.user_id != user_id"
                  >
                  Selecciona un destino 
                  <br>
                  <ion-select 
                    [(ngModel)] = "destino_id"
                    class="w-full bg-gray-300 rounded-md"
                  >
                    <ion-select-option  *ngFor="let destino of destinos" value="{{ destino.id }}">
                      {{ destino.nombre }}
                    </ion-select-option>
                  </ion-select>
                  <br>
  
                  <!-- class="z-10 rounded-md border-2 px-4 py-2 cursor-pointer inline-block" -->
                    <ion-button
                      (click)="solicitarAventon(aventon.id)"
                      *ngIf="aventon.muestra_solicitud"
                    >
                      Solicitar
                    </ion-button>
                    
                    
                    <p
                      *ngFor="let solicitado of aventon.solicitando"
                    >
                      <span
                        *ngIf="solicitado.user_id == user_id"
                      >
                        <p
                          *ngIf="solicitado.confirma == 0"
                        >
                          Esperando respuesta
                        </p>
                        <p
                          *ngIf="solicitado.confirma == 1"
                        >
                          Encuentrate con el conductor
                        </p>
                        <p
                          *ngIf="solicitado.confirma == 2"
                        >
                          Lo sentimos, el conductor no puede cumplir tu solicitud
                        </p>
                    </span>
                  </p>
                </section>
              </article>
            <article>
            </article>
    </section>
<!-- http://www.google.com/maps/place/19.3991001,-99.1242842 -->