.body{
    background-image: url('/assets/img/Fondob.png');
    background-position: center center;
    background-size: cover;
    color: #FFFF
  }

.font{
    font-family: 'Montserrat', sans-serif;
}

.menu {
  position: fixed;
  top: 60px;
  left: 0px;
  background: #80d894;
}