<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu content-id="main-content">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item>
              <button [routerLink]="['/modalidad-pie']">Crear Publicación</button>
              <ion-icon slot="start" name="document-outline"></ion-icon>
            </ion-item>
            
            <ion-item>
              <button [routerLink]="['/ver-auto']" class="AutoStyle">Tus autos</button>
            <ion-icon slot="start" name="car-sport-outline"></ion-icon>
          </ion-item>
          
          <ion-item>
            <button [routerLink]="['/destinos']" class="AutoStyle">Destinos</button>
          <ion-icon slot="start" name="map-outline"></ion-icon>
        </ion-item>

            <ion-item button (click) = 'cerrarSesion()'>
              <ion-icon slot="start" name="key-outline"></ion-icon>
              <ion-label> Cerrar sesión </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">  
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
      </div>
    </ion-split-pane>
    
    <section class= "bg-slate-900 text-white gir gir-cols-5 gap-2 text-center my-4 py-1 p-8 h-full w-full">
      
      <div>
        <section 
          class=" bg-gray-800 my-4 py-4 h-full text-justify p-4 rounded-md" 
          *ngFor="let Aventon of aventon"
        >
            <article>
                <span class="uppercase">
                  {{ aventon.tipo }}
                </span>
                <hr class="my-2">
                <ion-icon name="car-sport-outline"></ion-icon>
                {{ aventon.marca }} {{ aventon.color }}
                <br>
                <ion-icon name="barcode-outline"></ion-icon>
                {{ aventon.placa }}
                <br>
   
            </article>
            <article>
            </article>
        </section>
        
    </div>
        
    </section>
  </ion-app>