<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu content-id="main-content">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Menu</ion-title>          
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            
            <ion-item>
              <button [routerLink]="['/ver-auto']" class="AutoStyle">Tus autos</button>
            <ion-icon slot="start" name="car-sport-outline"></ion-icon>
          </ion-item>
          
          <ion-item>
            <button [routerLink]="['/destinos']" class="AutoStyle">Destinos</button>
          <ion-icon slot="start" name="map-outline"></ion-icon>
        </ion-item>

            <ion-item button (click) = 'cerrarSesion()'>
              <ion-icon slot="start" name="key-outline"></ion-icon>
              <ion-label> Cerrar sesión </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">  
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu" color="dark"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-button id="click-trigger" slot="end" color="dark" fill="outline" class="px-2">
          <ion-icon name="add-outline"></ion-icon>
          Crear
        </ion-button>
        <ion-popover side="left" alignment="start" trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-button [routerLink]="['/modalidad-pie']" color="dark" size="large">
              <ion-icon name="footsteps-outline"></ion-icon>
              &nbsp;&nbsp;Viaje a pie
            </ion-button>
            <ion-button [routerLink]="['/modalidad-aventon']" color="dark" size="large">
              <ion-icon name="car-outline"></ion-icon>
              &nbsp;&nbsp;Dar aventón
            </ion-button>
          </ng-template>
        </ion-popover>
      </ion-toolbar>
      </div>
    </ion-split-pane>
    
    <section class= "pt-10 bg-slate-900 text-white gir gir-cols-5 gap-2 text-center my-4 py-1 p-8 h-full w-full">
      
      <div>
        <section 
          class=" bg-gray-800 my-4 py-4 h-full text-justify p-4 rounded-md" 
          *ngFor="let aventon of aventones">
            <article>
                <span class="uppercase">
                  Aventón
                  {{ aventon.modalidad.nombre }}
                  <ion-icon name="people-circle-outline"></ion-icon>
                  {{ aventon.asientos }}
                </span>
                <hr class="my-2">
                {{ aventon.user.name }}
                <br>
                <img src="{{ aventon.user.foto }}" alt="foto" class="w-10">
                <hr class="my-2">
                <ion-icon name="car-sport-outline"></ion-icon>
                  {{ aventon.auto.marca }} {{ aventon.auto.color }}
                <br>
                <ion-icon name="barcode-outline"></ion-icon>
                  {{ aventon.auto.placa }}
                <br>
                <hr class="my-2">
                {{ aventon.encuentro.nombre }}
                <br>
                {{ aventon.encuentro.descripcion }}
                <hr class="my-2">
                                              <!-- http://www.google.com/maps/place/19.3991001,-99.1242842 -->
                <a target="_blank" href='{{ "https://www.google.com/maps/place/"+aventon.destino.latitud+","+aventon.destino.longitud+"" }}'>
                  <ion-icon name="location-sharp"></ion-icon>
                </a>
              </article>
            <article>
            </article>
        </section>
        
    </div>
        
    </section>
  </ion-app>
  


  <!--https://www.google.com.mx/maps/@19.3558016,-99.0672235,16z-->