<section class="bg-gray-900 text-white text-center p-8 h-full">

  <ion-item
  class="border-2 w-20 rounded-full"
>
  <button 
    [routerLink]="['/ver-auto']" 
  >
    <
    <ion-icon slot="start" name="car-outline"></ion-icon>
    </button>
  </ion-item>
  &nbsp;

  <ion-content class="border-2 border-red-500 h-96">
    <capacitor-google-map id="map-2" ></capacitor-google-map>
  </ion-content>
  
    <br>
  <input type="text" [(ngModel)] = "destino.nombre" placeholder="Nombre" class="bg-slate-900 text-bla
  ">

</section>