.font{
    font-family: 'Montserrat', sans-serif;
}

.body{
    background-image: url('/assets/img/Fondob.png');
    background-position: center center;
    background-size: cover;
    color: #FFFF
  }


