<ion-toolbar>
  <ion-button [routerLink]="['/feed']" slot="start" color="dark" fill="outline" class="px-2">
    <ion-icon
      slot="start" name="arrow-back-circle-sharp" size="large">
    </ion-icon>
  </ion-button>
</ion-toolbar>  

<section class="font body bg-gray-900 text-white gir gir-cols-5 gap-2 text-center p-8 h-full">
  

  <article></article>
  <article class="col-span-3">
    Viaje a pie
  </article>
  <article></article>

  <h1 class="container text-white  text-center rounded-xl my-4 py-4">Rellena los siguientes campos</h1>

  <div
    class=" overflow-auto"
    style="height: 600px;"
  >
  <section 
  class="my-4 py-4 h-full text-justify p-4 rounded-md"
  >


  <form class="col-span-5 px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class=" text-sm font-bold mb-2">
        Punto de encuentro
      </label>
      <div class="md:w-2/3">
        <select
          class="bg-elementos rounded-2xl w-full py-3 px-4 text-gray-700" 
          [(ngModel)]="posPie.encuentro_id" [ngModelOptions]="{standalone: true}">
        >
        <option value="-">Selecciona un punto de encuentro</option> 
        <option *ngFor="let encuentros of encuentro"  value="{{ encuentros.id }}">
          {{ encuentros.nombre }}
        </option>
         </select>
      </div>
     </div>
  </form>
  

  <!-- <form class="col-span-5 bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-gray-white text-sm font-bold mb-2">
        TAG
      </label>
      <div class="md:w-2/3">
        <select
         class=" w-full bg-gray-800 my-4 py-4 h-full text-justify p-4 rounded-md" 
         [(ngModel)]="encuentro.name" [ngModelOptions]="{standalone: true}">
         >
        <option value="-">Selecciona una opción</option> 
        <option *ngFor="let encuentros of encuentro"  value="encuentro_id">
          {{ encuentros.descripcion }}
        </option>
         </select>
      </div>
     </div>
  </form> -->

  <form class="col-span-5 bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-gray-white text-sm font-bold mb-2">
        Destino
      </label>
      <div class="md:w-2/3">
        <select
         class="bg-elementos rounded-2xl w-full py-3 px-4 text-gray-700" 
         [(ngModel)]="posPie.destino_id" [ngModelOptions]="{standalone: true}">
         >
        <option value="-">Selecciona una opción</option> 
        <option *ngFor="let destino of destinos"  value="{{ destino.id }}">
          {{ destino.nombre }}
        </option>
         </select>
      </div>
     </div>
  </form>

  <form class="col-span-5 bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-gray-white text-sm font-bold mb-2">
        Tags
      </label>
      <div class="md:w-2/3">
        <select
         class="bg-elementos rounded-2xl w-full py-3 px-4 text-gray-700" 
         [(ngModel)]="tagSeleccion" [ngModelOptions]="{standalone: true}">
         >
        <option value="-">Selecciona una opción</option>
        <option *ngFor="let tag of pieTag"  value="{{ tag.nombre }}">
          {{ tag.nombre }} 
        </option>
         </select>
         <button (click)="setTags()">Añadir TAG</button>
      </div>
     </div>
  </form>
  <section class="grid grid-cols-2 gap-2 text-center p-2 border-2 border-gray-700">
    <article *ngFor="let tag of posPie.tags">
      <i (click)="removeTag(tag)" class="fa-solid fa-circle-xmark text-red-500"></i>
      <br>
      {{ tag }}
    </article>
  </section>
  <button class="bg-white text-center text-gray-900 my-4 py-4 p-4 rounded-md"
  (click) = "postPie()">
    Crear viaje
  </button>
  
  </section>
  </div>
  

</section>