<section class=" bg-gray-900 text-white  grid-cols-4 text-center p-8 h-full">
  <ion-item
    class="border-2 w-20 rounded-full"
  >
    <button 
      [routerLink]="['/feed']" 
    >
      <
      <ion-icon slot="start" name="location-outline"></ion-icon>
      </button>
    </ion-item>
    
    <h1 class="container bg-gray-800 text-white grid-span-3 text-center my-6 py-4">TUS DESTINOS</h1>
    <hr class="my-2">

  <section class=" ">
    <article
      *ngFor="let destino of destinos"
      (click)="verDestino(destino.id)"
      class="bg-gray-700 text-center rounded-3xl grid-span-3 p-4 my-5"
    >
    {{ destino.nombre }} 
    </article>

      <article>
        <span class="uppercase">
        </span>
        <hr class="my-2">
        <ion-icon name="location-outline">

        </ion-icon>
      </article>

    <article class="bg-slate-900 w-full py-3 px-3 text-end ">
      <button [routerLink]="['/maps']" >
        Agregar Destino
      </button>
    </article>
  </section>