capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 650px;
}
.body{
    background-image: url('/assets/img/Fondob.png');
    color: #FFFF
  }
  
.font{
    font-family: 'Montserrat', sans-serif;
}