    <section class= "body font pt-10 bg-slate-900 text-white gir gir-cols-5 gap-2 text-center my-4 py-1 p-8 h-full w-full">

  <article></article>
  <article class="col-span-3">  
  <p class="titulo-esime">
  </p>
  <ion-item
  class="border-2 w-20 rounded-full"
>
  <button  
    [routerLink]="['/ver-auto']" 
  >
    <
    <ion-icon slot="start" name="car-outline"></ion-icon>
    </button>
  </ion-item>
  </article>
  <article></article>

  <p class="col-span-5 text-center p-4">
    Ingresa los datos de tu auto
  </p>
  
  <p class="col-span-5 text-left p-4">
    
  </p>

  <form class="col-span-5 bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2">
        Placa
      </label>
      <div class="md:w-2/3">
      <input [(ngModel)]="Carro.placa" [ngModelOptions]=" {standalone: true}" 
      class="bg-elementos rounded-2xl w-full py-3 px-4 text-fondo" placeholder="Introduce la placa" >
    </div>
  </div>
  </form>
  
  <form class="col-span-5 bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2">
        Marca
      </label>
        <div class="md:w-2/3">
      <input [(ngModel)]="Carro.marca" [ngModelOptions]=" {standalone: true}" 
      class="bg-elementos rounded-2xl w-full py-3 px-4 text-fondo" placeholder="Introduce la marca" >
        </div>
    </div>
  </form>

  <form class="col-span-5 bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2">
        Color
      </label>
      <div class="md:w-2/3">
      <input [(ngModel)]="Carro.color" [ngModelOptions]=" {standalone: true}" 
      class="bg-elementos rounded-2xl w-full py-3 px-4 text-fondo" placeholder="Introduce el color" >
    </div>
  </div>
  </form>

    
  <form class="col-span-5 bg-fondo px-4 pt-3 pb-1">
    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2">
        Tipo
      </label>
      <div class="md:w-2/3">
      <select
        [(ngModel)]="Carro.tipo" 
        [ngModelOptions]=" {standalone: true}"
        class="bg-elementos rounded-2xl w-full py-3 px-4 text-fondo" 
      > 
        <option value="-">Selecciona un tipo de vehículo</option> 
        <option value="moto">MOTO</option> 
        <option value="camioneta">CAMIONETA</option> 
        <option value="auto">AUTO</option>

      </select>
    </div>
  </div>
  </form>  
  <br>
  <button (click) ="guardarAuto()" size="large" shape="round" color="light"
  class="bg-white hover:bg-black text-gray-700 py-3 px-6 rounded-full"> 
    <ion-icon name="save-sharp" color="dark"></ion-icon>
    &nbsp;Guardar
  </button>

</section>
<!-- 
  <button class="" (click) ="guardarAuto()"> 
    Guardar  
  </button> -->