<section class=" fondo-ipn bg-gray-900 text-white  grid-cols-5 text-center p-8 h-full">
  <ion-item
    class="border-2 w-20 rounded-full">
      <ion-icon
        [routerLink]="['/feed']" size= "large" name="arrow-back-circle-outline">
      </ion-icon> 
  </ion-item>

<br><br><br><br><br>
  
    <ion-list 
      class=" fondo-ipn bg-gray-900 text-white  grid-cols-5 text-center p-8 h-full" style="text-align:center">
        <h1 [routerLink]="['/modalidad-aventon']" class="container bg-gray-700 text-white  text-center rounded-xl my-4 py-4">
          Dar aventón
        </h1>
        <br>
        <h1 [routerLink]="['/modalidad-pie']" class="container bg-gray-700 text-white  text-center rounded-xl my-4 py-4">
          A pie
        </h1>
    </ion-list>