// .colfondo{
    // background-color: ;
// }

.body{
    background-image: url('/assets/img/FondoI.png');
    background-position: center center;
    background-size: cover;
    color: #FFFF
}


.font{
    font-family: 'Montserrat', sans-serif;
}